/* Full-screen overlay */
.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #9b10ec; /* Optional dark background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

/* Your loader box */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.ring {
    width: 200px;
    height: 200px;
    border: 0px solid #10b2e8;
    border-radius: 50%;
    position: absolute;
}

.ring:nth-child(1) {
    border-bottom-width: 8px;
    border-color: rgb(255, 0, 255);
    animation: rotatel 2s linear infinite;
}

.ring:nth-child(2) {
    border-right-width: 8px;
    border-color: rgb(0, 247, 255);
    animation: rotate2 2s linear infinite;
}

.ring:nth-child(3) {
    border-top-width: 8px;
    border-color: rgb(88, 238, 29);
    animation: rotate2 2s linear infinite;
}

.loadingg {
    color: white;
}

@keyframes rotatel {
    0% {
        transform: rotateX(35deg) rotateY(-45deg) rotatez(0deg);
    }

    100% {
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    }
}

@keyframes rotate2 {
    0% {
        transform: rotateX(50deg) rotateY(18deg) rotate(0deg);
    }

    100% {
        transform: rotateX(50deg) rotateY(-10deg) rotateZ(360deg);
    }
}

@keyframes rotate3 {
    0% {
        transform: rotateX(35deg) rotateY(55deg) rotatez(0deg);
    }

    100% {
        transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
    }
}